.todo-item {
    display: grid;
    grid-template-columns: 1fr 14fr;
    margin: 1em;
    padding: 2em;
    border-radius: 10px;
    border: 2px solid rgb(252, 191, 156);
    justify-content: center;
    align-items: center;
}

.todo-item-paragraph {
    margin-left: 1em;
    font-size: .8em;
}