.app {
  display: grid;
  grid-template-columns: 4fr 5fr 4fr;
}

.todo-list {
  grid-column: 2;
}

@media only screen and (max-width: 700px) {
  .app {
    grid-template-columns: 1fr;
  }

  .todo-list {
    grid-column: 1;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}